[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Simple Notify
Exec=env QT_QUICK_CONTROLS_STYLE=Nemo /usr/bin/send-notify
Icon=send-notify
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
